In [1]:
import pandas as pd

def read_csv_file(csv_file_path):
    """
    Reads a CSV file into a Pandas DataFrame.
    :param csv_file_path: The path to the CSV file.
    :return: The Pandas DataFrame containing the CSV data.
    """
    try:
        df = pd.read_csv(csv_file_path)
        return df
    except Exception as e:
        print(f"An error occurred while reading the CSV file: {e}")

In [2]:
csv_file_path = '/workspaces/D-TS-AutoML/train_dataset/raw_data.csv'
df_all = read_csv_file(csv_file_path)
df_all.head()

,devid,id,readings,ts,row_number,partition_0,partition_1
0,99DD33EFB7990A71,459862,"[1.0, 23.938026428222656, 35.81842803955078, 1...","Tue, 22 Nov 2022 22:41:19 GMT",1.0,11,22
1,B84C4503F361D64A,221283,"[1.0, 24.272262573242188, 48.88004684448242, 1...","Sat, 08 Oct 2022 00:00:09 GMT",1.0,10,8
2,B84C4503F361D64A,460110,"[1.0, 24.114473342895508, 31.544368743896484, ...","Tue, 22 Nov 2022 23:35:37 GMT",1.0,11,22
3,7BB92D02D696C5C5,460222,"[1.0, 24.358461380004883, 31.7662353515625, 10...","Tue, 22 Nov 2022 23:59:46 GMT",1.0,11,22
4,E7184ABA7A055FD1,221502,"[1.0, 24.817399978637695, 51.37913131713867, 1...","Sat, 08 Oct 2022 00:54:56 GMT",1.0,10,8

In [3]:
import ast

# Define the list of string-encoded lists
str_lists = df_all['readings']

# Convert the list of string-encoded lists to a list of lists of numbers
num_lists = [ast.literal_eval(str_list) for str_list in str_lists]

# Print the resulting list
print(num_lists)

'''
    ## data example
    {
        "date": "2022-09-23T08:00:18.000Z",
        "devid": "7BB92D02D696C5C5",
        "temperature": 22.673810958862305,
        "humidity": 52.7224006652832,
        "pressure": 100.63079833984375,
        "iaq": 92,
        "co2": 730.5926513671875,
        "voc": 0.843423068523407
    },
'''

import pandas as pd

# Define the input data as a list of lists
data = num_lists

# Define the column names
columns = ['status', 'temperature', 'humidity',  'pressure', 'iaq', 'co2','voc']

# Create a list of dictionaries, where each dictionary represents a row of data
rows = [dict(zip(columns, row)) for row in data]

# Create a pandas DataFrame from the list of dictionaries
df_read = pd.DataFrame(rows)

# Print the resulting DataFrame
print(df_read)

In [ ]:
# Concatenate the two DataFrames vertically (i.e. row-wise)
df = pd.concat([df_all, df_read], axis=0)

# Print the resulting DataFrame
print(df)